<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="connectionString" value="Data Source=*****.database.windows.net;Initial Catalog=demo;Integrated Security=False;User ID=*****;Password=******"/>
		<add key="monitorDelay" value="1000"/>
		<add key="operationLimit" value="3600"/>

	</appSettings>
</configuration>